@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$dark-grey: #121212;
$maroon: rgba(130,25,19,0.5);
$darken-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) );


@font-face {
  font-family:'Proxima-Nova-Regular';
  src: url('../css/fonts/proximanova-regular-webfont.eot');
  src: url('../css/fonts/proximanova-regular-webfont.woff') format('woff');
  src: url('../css/fonts/proximanova-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima-Nova-Light';
  src: url('../css/fonts/Proxima Nova Thin-webfont.eot');
  src: url('../css/fonts/Proxima Nova Thin-webfont.woff') format('woff');
  src: url('../css/fonts/Proxima Nova Thin-webfont.ttf') format('truetype');
}

*{
  font-family: 'Proxima-Nova-Regular',sans-serif ;
}

body{
  .pad{
    padding: 2rem 0rem 2rem 0rem;
  }
  .pos{
    position: relative;
    margin-bottom: 3rem;
  }
  #landing-page{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/landing-page.jpg");
    width: 100% !important;
    height: 38.7rem;
    color: #fff;
  }
  .custom-bar{
    margin-top: 2rem;
  }
  .custom-nav{
    a{
      color: #fff;
      font-size: 78%;
    }
  }
  #alma-logo{
    margin-left: 1rem;
  }

  #div-custom-nav{
    justify-content: space-between;
  }
  #nav-bar{
    padding:1rem 4rem 0rem 4rem;
  }
  #view-projects{
    margin-left: 5rem;
  }
  #float-text{
    width: 100%; /*can be in percentage also.*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 15%;
  }
  .float-text{
    height: 31rem;
  }

  .white-btn {
    background-color: white;
    color: #333;
    font-size: 78%;
    font-weight: 900;
  }

  .white-btn hr {
    margin: 0
  }

  .float-btn {
    border-radius: 2px;
    font-size: 78%;
    font-weight: 900;
    width: 40%
  }

  .white-proc{
    border-color: white !important;
    color: white !important;
  }

  .black{
    background-color: #121212;
    color: #fff;
  }

  .strat-text{
    line-height: 2.5rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    color: #dfdfdf
  }
  .about-text{
    font-weight: 600;
  }
  .small-line{
    line-height: 1.4rem;
    letter-spacing: 1px;
  }

  .pad {
    padding: 2rem 0rem 2rem 0rem;
  }

  .marg{
    margin: 1rem 4rem 0rem 4rem;
  }

  .no-pad{
    padding: 0;
    margin: 0;
  }

  #placeholder {
    height: 200px !important
  }

  #btn-book {
    margin-bottom: 0;
    line-height: 2.3rem;
    padding: 0;
    width: 60%;
  }

  #btn-submit {
    width: 100%;
    line-height: 3rem;
    background-color: #222;
    color: white
  }

  .top-bar {
    z-index: -1
  }

  li {
    a {
      text-decoration: none;
      color: white
    }
  }

  #div-video {
    height: 20rem;
    background: $darken-image,url("../img/placeholder.jpg");
    background-size: cover;
    color: white;

    p{
      font-family: 'Proxima-Nova-Light', sans-serif !important;
      font-size: 1.5rem ;
    }
  }

  .menu-amenities {
    position: relative;
    top: 2.5rem;
    z-index: 100;
    line-height: 3rem;
  }

  #div-amenities {
    background: $darken-image,url("../img/sofa.jpeg");
    background-size: cover;
    color: white;
    height: 330px;
  }

  .bedrooms{
    #grey {
      display: table;
      background: $dark-grey;
      height: 18rem;
      color: white;
    }
    #red {
      display: table;
      background: linear-gradient($maroon, $maroon), url("../img/1-bedroom.png");
      color: #fff;
      background-size: cover;
      height: 18rem;

      div {
        display: table-cell;
        vertical-align: middle;
        text-align: center
      }
    }
    h4 {
      display: table-cell;
      vertical-align: middle;
      text-align: center
    }
  }
  .hand{
    font-size: 18px;
  }
  .pos {
    position: relative;
    margin-bottom: 3rem;
  }

  .contact-form {
    border-bottom: 5px solid #cc8b00;
    box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.05);
    position: absolute;
    bottom: -16rem;
    height: 34rem;
    right: 1rem;
    padding: 3rem !important;
    background-color: #fff;
    z-index: 100;
  }
  //
    footer {
      color: white;
      background-color: $dark-grey;
      height: 15rem;
    }
  }





/*# sourceMappingURL=app.css.map */

